Wrong info.

Geachte heer/mevrouw,
Er is een opmerking verstuurd over productinformatie die niet klopt of aangevuld dient te worden. Zie hieronder voor details:
Naam gebruiker: {{ userName }}
Email: {{ email }}
Maatschappij: {{ companyTitle }}{% if productTitle %}
Verzekeringsnaam: {{ productTitle }}
Type: {{ type }}{% endif %}
Opmerking: {{ message }}
Link naar het product: {{ url }}

Met vriendelijke groet,
Nedasco
